
a {
  color: #11999E;
  font-family: 'Merriweather', serif;
  text-decoration: none;
}

a:hover {
  color: #ff8303;
}

.BUTTON_FTA {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #2BC4AD);
   background-image: -moz-linear-gradient(top, #11CDD4, #2BC4AD);
   background-image: -ms-linear-gradient(top, #11CDD4, #2BC4AD);
   background-image: -o-linear-gradient(top, #11CDD4, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #11CDD4, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 18px;
   font-weight: 100;
   padding: 25px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
contact me

}

.BUTTON_FTA:hover {
   border: solid #337FED 1px;
   background: #1ED0A7;
   background-image: -webkit-linear-gradient(top, #1ED0A7, #3DF5F6);
   background-image: -moz-linear-gradient(top, #1ED0A7, #3DF5F6);
   background-image: -ms-linear-gradient(top, #1ED0A7, #3DF5F6);
   background-image: -o-linear-gradient(top, #1ED0A7, #3DF5F6);
   background-image: -webkit-gradient(to bottom, #1ED0A7, #3DF5F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   font-family: `Montserrat`, sans-serif;
}

body {

  /*
  We can also use (  margin-top: 0px;
   margin-left: 0px;
   margin-bottom: 0px;
   margin-right: 0px;) which means setting all 4 margins to zero.
  */
  color: #40514E;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
  background-color: #fefecc;
}

.bottom-container {
  background-color: #c0fefc;
  padding: 50px 0 20px 0;
}

.bottom-cloud {
  position: absolute;
  left: 210px;
}
.contactmsg {
  width: 50%;
  margin: 40px auto 60px;
}
.copyright{
  color: #fad586;
  font-size: 1rem;
  padding: 20px 0;
}

.drawing {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  color: #66BFBF;
  padding-bottom: 10px;
}

.h2 {
  color: #66BFBF;
  font-weight: normal;
}



h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: dotted none none none;
  width: 5%;
  border-width: 5px;
  border-color: grey;
}

.intro {
  width: 30%;
  margin: auto;
}

.learner {
  text-decoration: underline;
}

.learning {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}


.middle-container {
  margin: 100px 0;
}

p {
  line-height: 2;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-container {
  background-color: #E4F9F5;
}

.top-cloud {
    margin-top: 50px;
    position: relative;
    left: 400px;
}
